html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
}

#logo {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: 0.7em solid #133f66;
    border-top: 0.7em solid #000000;
}

#logo img {
    width: 15%;
    display: block;
    margin: auto;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

nav ul {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0.5em 0;
    list-style: none;
    width: 100%;
}

nav li {
    display: inline-block;
    margin-right: 1px;
}

li a {
    display: block;
    min-width: 2em;
    padding: 0.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #d7b424;
    color: #133f66;
    font-weight: 500;
    border-radius: 3px;
}

li a:hover {
    text-decoration: none;
    color: #bf1e2e;
    font-weight: 700;
}

@media screen and (max-width: 760px) {
    li {
        margin-bottom: 1px;
    }
    ul li,
    li a {
        width: 100%;
    }
}

main {
    margin: 0 auto;
    width: 100%;
}

article {
    width: 40%;
    float: left;
    padding: 2em;
    background-color: #ffffff;
    margin-left: 0.5em;
    border-radius: 1em;
}

section {
    float: right;
    width: calc(100% / 2);
}

.image-swatches ul {
    margin: 0;
    padding: 0;
}

.image-swatches li {
    list-style-type: none;
    float: left;
    overflow: hidden;
    margin: 0 2% 2% 0;
    position: relative;
    width: 15em;
    height: 9em;
}

img {
    max-width: 100%;
}

.color-swatches ul {
    margin: 0;
    padding: 0;
}

.color-swatches li {
    list-style-type: none;
    float: left;
    position: relative;
    border: 0.3em solid #e0e0e0;
    width: 5em;
    margin: 0 2% 2% 0;
    height: 5em;
    background-color: #000000;
}

.color-swatches .blue {
    background-color: #133f66;
}

.color-swatches .red {
    background-color: #bf1e2e;
}

.color-swatches .yellow {
    background-color: #d7b424;
}

.color-swatches .green {
    background-color: #6f9929;
}

.color-swatches .brown {
    background-color: #4e2b19;
}

footer {
    clear: both;
}
